.open-sans-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-merriweather {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* banner styles */

.banner {
    width: 1140px;
    height: 600px;
    background-image: url('/images/Banner\ Image.png');
    border: 1px;
    border-radius: 16px;
    border-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;
}

.banner-container {
    text-align: center;
    padding: 230px 340px 0px 340px;
}

.banner-title {
    font-weight: 400px;
    font-size: 32px;
}

.banner-description {
    font-weight: 600px;
    font-size: 50px;
}

.banner-second-description {
    font-weight: 600px;
    font-size: 50px;

}

/* shared styles */
.orange {
    color: #FF0000;
}

.white {
    color: rgba(255, 255, 255, 1);
}

/* main part starts */
/* offer styles
 */
.offer-container {
    text-align: center;
    /* width: 802px;
    height: 806px; */
}

.offer-title {
    font-weight: bold;
    font-size: 88px;
    margin-bottom: 48px;
}

.offer-comment {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.offer-sub-title {
    font-weight: bold;
    font-size: 48px;
    color: rgba(17, 4, 2, 1);
}

.offer-img {
    width: 802px;
    height: 500px;
}

/* welcome stytle */
.welcome {
    display: flex;
    justify-content: space-around;
    width: 1140px;
    height: 600px;
    background-image: url('/images/Vectorrr.png');
    border: 1px;
    border-radius: 16px;
    border-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;

}

.welcome-container {
    padding: 150px;
}

.welcome-img {
    width: 319px;
    height: 464px;
    padding: 100px;
}

.join-now {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/* scedule style */
.schedule {
    width: 1140px;
    height: 450px;
    background-color: rgba(255, 0, 0, .1);
    border: 1px;
    border-radius: 16px;
    border-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
    padding-top: 100px;



}

.schedule-container p {
    font-weight: 600;
    font-size: 32px;
    color: rgba(7, 2, 17, 1);

}

.design {
    color: #FF0000;
}

.btn {
    background-color: #FF0000;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 20px;

}
/* best offer */
.best-offer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 1140px;
    height: 450px;
    background-color: rgba(255, 0, 0, .1);
    border: 1px;
    border-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;

}

.best-offer-title {
    font-weight: 500px;
    font-size: 32px;
}

.best-offer-sub-title {
    font-weight: bold;
    font-size: 48px;
    color: rgba(7, 2, 17, 1);
}

.best-offer-description {
    font-weight: 400px;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}

.best-offer-img {
    width: 450px;
    height: 450px;
    
}

.twenty {
    font-weight: bold;
    font-size: 48px;

}

.twenty-description {
    font-weight: 400px;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);

}
.twenty-img{
    width: 140px;
    height: 140px;
}
/* holydays sale */
.holyday-sale{
    width: 1140px;
    height: 986px;
    background-color: rgba(255, 0, 0, .1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-top: 50px;

}
.sales{
    text-align: center;
}
.sales-title{
    font-weight: 500px;
    font-size: 24px;
    color: rgba(7, 2, 17, 1);
}
.sale-percentage{
     font-weight: 900px;
    font-size: 72px;
    color: rgba(7, 2, 17, 1);
}
.sale-description{
    font-weight: 500px;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}
.box{
    width: 674px;
    height: 577px;
}
.discount{
    width: 220px;
    height: 220px;
}
.bottom{
    width: 1140px;
    height: 229px;
}